{% load gitlab_releases_filters %}
{% block content %}
    <h3>
        {{ release.name }}
        <small class="inline">
            por {{ release.commit.author_name }} em {{ release.released_at }}
        </small>
    </h3>
    <table class="info">
        <tr>
            <th>Autor</th>
            <td>{{ changelog.commit.author_name }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ changelog.description }}</td>
        </tr>
        {% if changelog.context %}
        <tr>
            <th>Módulo</th>
            <td>{{ changelog.context|capfirst }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Tipo da mudança</th>
            <td>
                <span class="status status-{{ changelog.section|release_section_css }} inline">
                    {{ changelog.section|title }}
                </span>
            </td>
        </tr>
    </table>
{% endblock %}
